.cig-primary{
    text-decoration: none;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 50px;
    color: #000;
    padding: 10px 30px;
    text-align: center;
    margin: 3;
}

.cig-primary:hover{
    background: #ff730020;
    border: 2px solid #ff7300;
    box-shadow: 0 0 1 rgba(0, 0, 0, 0.3);
}


.cig-burger-title{
    color:rgb(255, 60, 0);
}

.cig-buger-punchline{
    color: rgb(255, 134, 22)
}


/*categories css*/
.category{
    display: flex;
    align-items: center;
    height: 80px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 2px;
    padding: 10px 20px;
}

.category:hover{
    background-color: rgb(255,215,141);
    border: 1px solid #ff7300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-link{
    text-decoration: none;
    color: black;
}

/*products*/

.no-link{
    text-decoration: none;
}

.order-product-not-linkable{
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: not-allowed;
}

.order-product{
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.order-product:hover{
    background-color: #FFFFFF;
    border: 1px solid #ff7300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.order-product-title{
    color: rgb(255, 127, 68);
    font-size: 24px;
    font-weight: bold;
}

.order-product-title-large{
    color: rgb(255, 127, 68);
    font-size: 36px;
    font-weight: bold;
}

.order-product-description{
    color: rgb(100, 100, 100);
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

.order-product-quantity{
    color: rgb(255, 102, 0);
    font-size: 46px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.order-product-price{
    color: rgb(134, 1, 1);
    font-size: 36px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.order-product-old-price{
    color: rgb(100, 100, 100);
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: line-through;
}

.order-info-link{
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
}

.order-info-link:hover{
    background-color: #ffc393;
}

.discount-percentage{
    background-color:rgb(255, 60, 0);
    color:#ffffff;
    font-size: 18px;
    border-radius: 50px;
    padding: 5px;
}

.product-out-of-stock{
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
    text-decoration: line-through;
    color: rgb(200, 200, 200);
}


.order-resume{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
}

#pin_number{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 52px;
    font-weight: bold;
    background-color: #9db191;
}

.order-resume-final-font{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}