.cig-primary{
    text-decoration: none;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 50px;
    color: #000;
    padding: 10px 30px;
    text-align: center;
    margin: 3;
}

.cig-primary:hover{
    background: #ff730020;
    border: 2px solid #ff7300;
    box-shadow: 0 0 1 rgba(0, 0, 0, 0.3);
}